.App{
  margin-left:10rem;
  margin-right:10rem;
  border: 2px solid white;
}
@media screen and (min-width: 900px) and (max-width: 1219px) {
  .App{
    margin-left:5rem;
  margin-right:7rem;
  }
}
@media screen and (min-width: 820px) and (max-width: 900px) {
  .App{
    margin-left:6rem;
    margin-right:2rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 820px) {
  .App{
    margin-left:5rem;
  margin-right:-6rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .App{
    margin-left:15rem;
  margin-right:-16rem;
  }
}